.main-words {
    overflow: auto;
    align-items: center;
    display: block;
    /* display: flex; */
    /* flex-direction: column; */
    max-width: 800px;
    margin: 0 20%;
}
.rules {
    float: right;
}